# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
env/
.env
ENV/
.venv/
env.bak/
env.local/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# IDE files
.idea/
.vscode/
service_account.json
collavare-referral-oauth-credentials.json
token.pickle
collavare-referral-tool-346f45a3947a.json
contact_last_row.json
token.pickle.base64
.DS_Store
